body {
	background-color: #2f4050;
}
.col-sm-10 {
	background-color: #fff;
}
#Side_Menu a{
	color: #9fb1c2;
}
#Side_Menu .active a{
	color: #fff;
	background-color: #27aae1;
	font-weight: bold; 
}
#Side_Menu a:hover{
	color: #fff;
	background-color: #1ab394;
	font-weight: bold; 
	display: block;
}
#footer {
	padding: 10px;
	color: #eee;
	background-color: #211f22;
	text-align: center;	
}
.navbar-nav li {
	font-weight: bold;
	
}
.line {
	margin-top: -20px;
}
